h1, b
{
	font-size: 50px;
}
h2
{
margin: 0px 0px 0px 0px;
font-size: 39px;
}

#bildhalter
{
	width: 650px;
	border: 1px solid black;
	height: 350px;
}
p
{
margin: 20px 0px 20px 0px;
}
BODY,HTML {
font-size: 25px;
font-family: verdana;
scrollbar-face-color:#FFFBA6;
scrollbar-highlight-color:#000000;
scrollbar-3dlight-color:#FFFFFF;
scrollbar-darkshadow-color:#FFFFFF;
scrollbar-shadow-color:#000000;
scrollbar-arrow-color:#000000;
scrollbar-track-color:#FFFDCC;
}
	A:Hover { color:#c40000; text-decoration:none; text-transform: uppercase; font-size: 8pt; font-weight:bold; background-color:yellow; }
	A 	{ color:#000000; text-decoration:none; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif }